body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.pageContainer{
  width: 100%;
  height: 100%;
  background: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.mainContainer{
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brandImgContainer{
  width: 60vw;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
 
  /* background: transparent url('./assets/img/ProfolePicture.jpg') 0% 0% no-repeat padding-box;
  opacity: 1; */
}

.brandImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileImgContainer{
  width: 50vw;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
 
  /* background: transparent url('./assets/img/ProfolePicture.jpg') 0% 0% no-repeat padding-box;
  opacity: 1; */
}

.profileImg{
  width: 100%;
  height:100%;
  object-fit: cover;
}

/* name form */

.formField{
  width: 65%;
  max-width: 400px;
}

.nameField{
text-align: left;
letter-spacing: 0px;
color: #EFEFEF;
}

.form-control{
  height: 45px;
  border-radius: 10px;
}

#playBtn{
  margin-top: 60px;
  padding: 50px;
  border-radius: 20px;
  background-color: #0e8a00;
  font-size: 1.7rem;
  font-weight: 600;
}
#playBtn:disabled{
  background-color: #435a40;
  color: rgb(168, 168, 168);

}