#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.brandImgContainer{
  top: 231px;
  left: 112px;
  width: 206px;
  height: 206px;
  background: transparent url('./assets/img/ProfolePicture.jpg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* UI Properties */

.playBtn{
  /* Layout Properties */

top: 452px;
left: 76px;
width: 278px;
height: 55px;

/* UI Properties */

background: #B3B3B3 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

.nameField{
  /* Layout Properties */

top: 417px;
left: 77px;
width: 54px;
height: 27px;

/* UI Properties */

text-align: left;
font: normal normal normal 20px/27px Segoe UI;
letter-spacing: 0px;
color: #EFEFEF;
opacity: 1;
}